<!DOCTYPE html>

<html lang="ja">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>お風呂</title>

    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/common.css">

  </head>

  <body>

    <form action="/login" method="post">

        <input type="text" name="username" value=""
        placeholder="ユーザーネームを入力">

        <input type="text" name="password" value=""
        placeholder="パスワードを入力">

        <input type="submit" value="完了">

    </form>

  </body>

</html>